body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
  margin: 0;
  opacity: 0.9;
}

header {
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  padding: 0 10px;
  background-color: black;
  display: flex;
  align-items: center;
}

header nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  padding-right: 20px;
}

.empty {
  flex-grow: 1;
}

nav span {
  padding: 0 10px;
}

a {
  color:inherit;
}

.mission {
  top: 69px;
  height: 700px;
  background-image: url("../images/img-mission-background.jpg");
  align-items: center;
  display: flex;
  background-size: 1200px 700px;
}

.locations, .mission {
  background-position: center;
  margin: 0 60px;
  position: relative;
  background-repeat: no-repeat;
}

.mission-title, .month-title {
  text-align: center;
  background-color: black;
  width: 100%;
}

.featured-tea {
  position: relative;
  top: 100px;
  width: 1000px;
  margin: auto;
}

.img-bite {
  width: 300px;
  height: 200px;
}

.tea-bites {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.month-title h4,h2 {
  margin: 10px 0;
}

.tea-bite {
  margin: 10px 20px;
}

.tea-bite h4 {
  margin: 10px 0;
}

.box {
  background-color: black;
  opacity: 1;
  width: 300px;
  height: 300px;
  margin: 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* text-align: space-around; */
  /* align-items: space-around; */
}

.boxes {
  display: flex;
  justify-content: center;
}

.locations {
  background-image: url("../images/img-locations-background.jpg");
  top: 150px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: 1200px 500px;
  position: relative;
}

.locations h2 {
  margin: 0;
}

footer {
  position: relative;
  top: 150px;
}

#copy {
  text-align: left;
  margin: 50px 0 30px 20px;

}
