body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
  margin: 0;
  opacity: 0.9;
}

header {
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  padding: 0 10px;
  background-color: black;
  display: flex;
  align-items: center;
}

header nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  padding-right: 20px;
}

.empty {
  flex-grow: 1;
}

nav span {
  padding: 0 10px;
}

a {
  color:inherit;
}

.mission {
  position: relative;
  top: 69px;
  height: 700px;
  background-image: url("../images/img-mission-background.jpg");
  background-size: cover;
  background-position: center;
  margin: 0 60px;
  display: flex;
  align-items: center;
}

.mission-title, .month-title {
  text-align: center;
  background-color: black;
  width: 100%;
}

.featured-tea {
  position: relative;
  top: 100px;
}

.img-bite {
  width: 300px;
  height: 200px;
}

.tea-bites {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 200px;
}

.tea-bite {
  margin: 10px 20px;
}

.tea-bite h4 {
  margin: 10px 0;
}
